<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <h2><%= check_box_tag(task.title, task.title, task.completed) %> <%= link_to task.title, task_path(task) %> <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" }  %></h2>
<% end %>

<p><%= link_to "Add a new task", tasks_new_path %></p>

